# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# WIP
src/.config/claude/skills/agent-browser
src/.config/claude/skills/vercel-react-best-practices
src/.config/claude/skills/web-design-guidelines
src/.codex/config.toml
