[branch]
	sort = -committerdate
[column]
	ui = auto
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[init]
	defaultBranch = main
[tag]
	sort = version:refname
[user]
	email = 38448411+hairihou@users.noreply.github.com
	name = Yusuke Mizuno
